{"filter":false,"title":".gitignore","tooltip":"/Bookers2-ex/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":15},"end":{"row":11,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1680375507157,"hash":"e15e7a8f8e04827c8cf42de13c056a5b6570f9b1"}